<!doctype html>
<html lang="en">
  <head>
    <title>О себе</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <header>
        <h1>О себе</h1>
    </header>
    <a href="/">Главная</a>
    <a href="/about/">О себе</a>
  </body>
  <main>
        <h2>Меня зовут Александр</h2>
        <a>Проживаю в минске, любимые хобби это рисовать и играть на гитаре</a>
  </main>
</html>