<!doctype html>
<html lang="en">
  <head>
    <title>Сайт</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <header>
        <h1>Главня страница</h1>
    </header>
    <a href="/">Главная</a>
    <a href="/about/">О себе</a>
    <main>
        <a>Это главня страница сайта, здесь размещается главная информация обо всём что здесь есть.</a>
    </main>
  </body>
</html>